.destination{
    margin:4rem 6rem;
}
.destination h1{
    font-size: 2rem;
    text-align: center;
}
.destination p{
    font-size: 20px;
    color:#3f3a3a;
    text-align: center;
    align-items: center;
}
.first-des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.first-des .heading{
    text-align: center;
}
.first-des-reverse{
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.first-des-reverse .heading{
   text-align: center;
}
.des-text{
    width:45%;
    text-align: center;
    font-size: 1rem;
}
.des-text h2{
    padding-bottom: 1rem;
}
.image{
    position:relative;
    width:50%;
    display:flex;
    justify-content: space-between;
    z-index:-99;
}
.image img{
    width:49%;
    height:350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0,0,0,0.19);
}
.image img:nth-child(2){
    position:absolute;
    top:-10%;
    right:0;
}